Flask
Flask-Login
Flask-WTF
Jinja2
MarkupSafe
WTForms
Werkzeug
argparse
backports-abc
backports.ssl-match-hostname
cached-property
certifi
config
defer
docker-compose
docker-py
dockerpty
docopt
functools32
futures
greenlet
html5lib
httplib2
ipaddress
itsdangerous
jsonlib2
jsonschema
oauthlib
piston-mini-client
pyOpenSSL
pycrypto
pymongo
pyserial
pysha3
python-dateutil
python-memcached
pytz
pyxdg
rauth
reportlab
requests
scipy==0.19.0
singledispatch
six
supervisor
texttable
thrift>=0.10
tornado
torthrift
urllib3
virtualenv
websocket-client
wheel
ws4py
numpy==1.14.0
scikit-learn==0.18.1
pandas==0.19.2
